:root {
    --color-dark-3xl: #292929;
    --color-dark-l: #545454;
    --color-dark-m: #828282;
    --color-dark-s: #CDCDCD;
    --color-dark-xl: #4C4C4C;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-light-xl: #FFFFFF;
    --color-primary: #F1CDB3;
    --footer-gradient-background: url(<path-to-image>) lightgray 0% 0% / 110.00000238418579px 110.00000238418579px repeat, radial-gradient(549.89% 73.65% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    --start-screen-gradient-background: url(<path-to-image>) lightgray 0% 0% / 110.00000238418579px 110.00000238418579px repeat, radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}
.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__container {
    display: flex;
    align-items: center;
}
.logo__container {
    margin-right: 260px;
}